Repository streamyfin/streamyfin, pull requests merged in 2025-10, with the labels that each got.

#1102 fix: download handling of "other" media
  app/(auth)/player/direct-player.tsx
  components/settings/StorageSettings.tsx
  components/settings/SubtitleToggles.tsx
  constants/SubtitleConstants.ts
  translations/en.json
  utils/atoms/settings.ts
Labels: 🐛 bug, 🎨 ui/ux, ⬇️ downloads

#1103 feat: add crowdin integration to streamyfin
  .github/workflows/crowdin.yml
  crowdin.yml
Labels: ⚙️ ci, 🤖 github-actions

#1058 Add Arabic Translation
  i18n.ts
  translations/ar.json
Labels: 📚 documentation, 🎨 ui/ux

#1104 feat(ci): enhance Crowdin workflow
  .github/workflows/crowdin.yml
  i18n.ts
  translations/ar.json
Labels: 🐛 bug, ⚙️ ci, 🤖 github-actions
