Repository streamyfin/streamyfin, pull requests merged in 2025-09, with the labels that each got.

#1019 feat: add password visibility toggle to login forms
  .github/pull_request_template.md
  app/login.tsx
  bun.lock
  components/PasswordInput.tsx
  components/PreviousServersList.tsx
  components/common/Input.tsx
  components/filters/FilterSheet.tsx
  components/list/ListItem.tsx
  components/settings/GestureControls.tsx
  components/settings/Jellyseerr.tsx
  package.json
  translations/en.json
Labels: 📦 dependencies, 🎨 ui/ux, 🎭 jellyseerr

#1001 fix: home screen translation for custom headers
  components/settings/HomeIndex.tsx
Labels: 🐛 bug, 🏠 home-screen

#1032 fix: Jellyseerr discovery crash
  app/(auth)/(tabs)/(home)/settings/hide-libraries/page.tsx
  app/(auth)/(tabs)/(home)/settings/jellyseerr/page.tsx
  app/(auth)/(tabs)/(home)/settings/marlin-search/page.tsx
  app/(auth)/(tabs)/(home,libraries,search,favorites)/jellyseerr/company/[companyId].tsx
  app/(auth)/(tabs)/(home,libraries,search,favorites)/jellyseerr/genre/[genreId].tsx
  app/(auth)/(tabs)/(home,libraries,search,favorites)/jellyseerr/person/[personId].tsx
  app/(auth)/(tabs)/(libraries)/_layout.tsx
  app/(auth)/(tabs)/(libraries)/index.tsx
  app/(auth)/(tabs)/(search)/index.tsx
  app/(auth)/(tabs)/_layout.tsx
  app/(auth)/player/direct-player.tsx
  app/_layout.tsx
  components/DownloadItem.tsx
  components/ItemContent.tsx
  components/PlayButton.tsx
  components/PlayButton.tv.tsx
  components/common/JellyseerrItemRouter.tsx
  components/home/LargeMovieCarousel.tsx
  components/jellyseerr/discover/MovieTvSlide.tsx
  components/library/LibraryItemCard.tsx
  components/posters/JellyseerrPoster.tsx
  components/settings/AppLanguageSelector.tsx
  components/settings/AudioToggles.tsx
  components/settings/ChromecastSettings.tsx
  components/settings/Dashboard.tsx
  components/settings/DownloadSettings.tsx
  components/settings/GestureControls.tsx
  components/settings/HomeIndex.tsx
  components/settings/Jellyseerr.tsx
  components/settings/MediaContext.tsx
  components/settings/MediaToggles.tsx
  components/settings/OtherSettings.tsx
  components/settings/PluginSettings.tsx
  components/settings/SubtitleToggles.tsx
  components/video-player/controls/BottomControls.tsx
  components/video-player/controls/CenterControls.tsx
  components/video-player/controls/ContinueWatchingOverlay.tsx
  components/video-player/controls/Controls.tsx
  components/video-player/controls/GestureOverlay.tsx
  components/video-player/controls/HeaderControls.tsx
  components/video-player/controls/hooks/useVideoNavigation.ts
  hooks/useHaptic.ts
  hooks/useJellyseerr.ts
  providers/DownloadProvider.tsx
  providers/JellyfinProvider.tsx
  utils/_jellyseerr/useJellyseerrCanRequest.ts
  utils/atoms/queue.ts
  utils/atoms/settings.ts
Labels: 🐛 bug, 🎭 jellyseerr, 🧹 cleanup

#1031 fix: #1007 Season episodes temporarily disappearing when marking one as watched
  app/(auth)/(tabs)/(home,libraries,search,favorites)/actors/[actorId].tsx
  components/MoreMoviesWithActor.tsx
  components/SimilarItems.tsx
  components/common/HorizontalScroll.tsx
  components/common/InfiniteHorizontalScroll.tsx
  components/medialists/MediaListSection.tsx
  components/series/CastAndCrew.tsx
  components/series/CurrentSeries.tsx
  components/series/JellyseerrSeasons.tsx
  components/series/SeasonEpisodesCarousel.tsx
  components/series/SeasonPicker.tsx
  components/video-player/controls/EpisodeList.tsx
Labels: 🐛 bug, 🎨 ui/ux, 🧹 cleanup

#1030 fix: BaseItemDto/BaseItemPerson routing bug
  app/(auth)/(tabs)/(home,libraries,search,favorites)/persons/[personId].tsx
  components/common/TouchableItemRouter.tsx
  components/series/CastAndCrew.tsx
  components/stacks/NestedTabPageStack.tsx
Labels: 🐛 bug, 🎨 ui/ux

#1006 feat: native download notifications
  app.json
  app/_layout.tsx
  eas.json
  providers/DownloadProvider.tsx
  providers/JellyfinProvider.tsx
Labels: 🏗️ eas-build, 📱 expo, 🔔 notifications

#1036 fix: section titles
  components/settings/HomeIndex.tsx
Labels: 🐛 bug, 🎨 ui/ux

#1035 docs: add copilot-instructions.md for context-aware AI suggestions
  .github/copilot-instructions.md
Labels: 📚 documentation

#1046 fix: fixed permission request for activity
  app.json
  bun.lock
  package.json
Labels: 🐛 bug, 📦 dependencies, 📱 expo

#1063 fix: external deep links not working
  app/_layout.tsx
Labels: 🐛 bug, 🔔 notifications

#1051 fix: add better offline messages and checks
  bun.lock
  components/settings/HomeIndex.tsx
  hooks/useNetworkStatus.ts
  package.json
  providers/JellyfinProvider.tsx
  translations/en.json
Labels: 🐛 bug, 📦 dependencies, 🎨 ui/ux, 🏠 home-screen, 🧹 cleanup

#1076 fix: remove redudant episode requests
  components/series/SeasonEpisodesCarousel.tsx
  components/series/SeasonPicker.tsx
Labels: 🧹 cleanup

#1077 feat: fix playback reporting
  app/(auth)/player/direct-player.tsx
  hooks/usePlaybackManager.ts
Labels: 🐛 bug, 🎬 media-player

#1062 fix: missing optional chaining for plugin setting
  components/settings/DownloadSettings.tsx
Labels: 🐛 bug, 🎨 ui/ux

#1078 fix: resolve type issues and improve component reliability
  app/(auth)/(tabs)/(home,libraries,search,favorites)/jellyseerr/page.tsx
  components/common/JellyseerrItemRouter.tsx
  components/common/TouchableItemRouter.tsx
  components/home/LargeMovieCarousel.tsx
  components/inputs/PinInput.tsx
  components/jellyseerr/PersonPoster.tsx
  components/jellyseerr/discover/CompanySlide.tsx
  components/jellyseerr/discover/GenreSlide.tsx
  components/jellyseerr/discover/RecentRequestsSlide.tsx
  components/series/CastAndCrew.tsx
  components/series/SeasonEpisodesCarousel.tsx
  components/series/SeasonPicker.tsx
  components/settings/HomeIndex.tsx
  components/video-player/controls/Controls.tsx
  components/video-player/controls/contexts/VideoContext.tsx
  components/video-player/controls/dropdown/DropdownView.tsx
  hooks/useJellyseerr.ts
  translations/en.json
  utils/atoms/settings.ts
Labels: 🐛 bug, 📱 expo, 🎨 ui/ux, 🎬 media-player, 🎭 jellyseerr, 🧹 cleanup

#1034 feat: enhance download pause/resume with progress persistence
  app/(auth)/(tabs)/(home)/sessions/index.tsx
  app/(auth)/(tabs)/(home,libraries,search,favorites)/jellyseerr/page.tsx
  app/_layout.tsx
  components/DownloadItem.tsx
  components/downloads/DownloadCard.tsx
  components/series/SeriesActions.tsx
  components/settings/OtherSettings.tsx
  plugins/withRNBackgroundDownloader.js
  providers/DownloadProvider.tsx
  providers/Downloads/types.ts
  translations/en.json
  utils/log.tsx
Labels: 🐛 bug, 🎨 ui/ux, ⬇️ downloads, 🧹 cleanup
